*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100vh;
    min-height: 100vh;
    background: linear-gradient(135deg, #272944, #153677);
    padding: 10vh;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    padding: 40px 30px 70px;
    margin: 50px auto 20px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #000;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
